name: Go DevSecOps Pipeline

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]
        
jobs:
    security-and-quality:
        name: Security & Testing Gate
        runs-on: ubuntu-latest

        steps:
        -   name: Checkuot code 
            uses: actions/checkout@v4

        -   name: Set up Go
            uses: actions/setup-go@v5
            with:
                go-version: '1.25.7'

        -   name: Tidy Dependencies
            run: go mod tidy

        -   name: Security Scan (Vulncheck)
            run: |
                go install golang.org/x/vuln/cmd/govulncheck@latest
                govulncheck ./...

        -   name: Run Unit Tests
            run: go test -v ./internal/product/...

        -   name: Verify Build
            run: go build -v ./cmd/api
       
        - name: golangci-lint
          uses: golangci/golangci-lint-action@v6
          with:
            version: latest
            args: --timeout=5m